#scrollhost{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #000000;
    transition: all 1s;
}
.arrows{
    top: 4px;
    left: 11px;
    position: absolute;
    border-left: solid var(--main-light) 3px; 
    border-bottom: solid var(--main-light) 3px;
    width: 25px;
    height: 25px;
    transform: rotateZ(-45deg);
    animation: scrl 3s infinite;
}
@keyframes scrl{
    0%{
        top: -12px;
        opacity: 0;
    }
    50%{
        top: 4px;
        opacity: 1;
    }
    100%{
        top: 20px;
        opacity: 0;
    }
}
#a{
    animation-delay: 0s;
}
#b{
    animation-delay: 1s;
}
#c{
    animation-delay: 2s;
}

#magictxt{
    background: linear-gradient(130deg, var(--main) 40%, var(--main-light) 50%, var(--main) 60%);
    background-clip: text;
    background-size: 200% 100%;
    color: transparent;
    animation: magictxt 8s linear infinite;
    font-weight: 800;
    font-size: larger;
}
@keyframes magictxt {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 200% 0%;
    }
}