@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');
:root{
    --main-super-dark:#004737;
    --main-super-dark-b: #00281e80;
    --main-super-duper-dark: #002a20;
    --main-super-duper-d-dark: #001a14;
    --main-dark-b: #003a2dcf;
    --main-dark:#005441;
    --main-boders: #007359;
    --main:#008366;
    --main-light:#00ffc7;
    /* --winner-dark: #db63ff; */
    /* --winner-light:#efb9ff; */
    font-family: "Geologica";
    font-weight: normal;
    line-height: 20pt;
    -webkit-overscroll-behavior: auto;
    overscroll-behavior: auto;
    cursor: context-menu;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: auto;
}
.nullifier{
    display: none;
}
.dissabled-btn{
    background-color: gray;
    cursor: wait;
}

.dissabled-btn:hover {
    background-color: gray;
}
/*--------this is for the scrollbar----------*/
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--main-super-dark);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-dark);
  }
/*--------this is for the scrollbar----------*/

@media only screen and (min-width: 810px) {
    span#sub {
        font-size: 15pt;
        line-height: 5pt;
    }
    .winner {
         width: 345px; 
         height: 210px; }
    span#emph {
        font-size: 18pt;
        font-family: monospace;
    }
    
    span#head {
        font-size: 25pt;
        font-weight: 900;
    }
    
    .sublimel {
        padding: 2em;
    }
div#menudrop {
    display: none;
}
    
    .emp {
        display: block;
        margin-bottom: 54em;
    }
    .scrol{
        transform: perspective(5cm) rotateX(0deg);
        opacity: 1;
        bottom: 20%;
    }
    .scrolu{
        transform: perspective(5cm) rotateX(-20deg);
        opacity: 0;
        bottom: 80%;
    }
    #heroover {
        width: 40%;
        font-size: 20pt;
        line-height: 29pt;
    }
    
    div .triggers {
        display: block;
        height: 1em;
        width: 3em;
    }
    
    div#crdhero {
        width: 50%;
        display: contents;
    }
    
    footer {
        height: 25%;
        bottom: 0;
    }
    
    footer p {
        margin-bottom: 0;
    }
    
    hr {margin-top: 1px;margin-bottom: 28px;border-style: dashed;border-color: var(--main);border-width: 1px;border-bottom: none;width: 80%;}
    
    ul {line-height: 22pt;width: 85%;padding-left: 5em;}
    
    table {
        width: 100%;
        text-align: center;
    }

img#t11 {
    width: 26vw;
}

tr.imgs {
    height: fit-content;
}

td {
    width: 33.33%;
}

.imgs td {
    height: fit-content;
    width: 11%;
}

#tm td {
    width: 25%;
}
    
    table .imcrop{
        display: inline-block;
        vertical-align: middle;
        width: 10em;
        height: 10em;
        overflow: hidden;
        clip-path: circle(50%);
        object-fit: cover;
    }

    header{
        top: 1em;
        width: 80%;
        height: 5rem;
    }
    
    #home {
        position: absolute;
        left: 8px;
    }
    
    header a{
        padding-left: 1em;
        padding-right: 1em;
        height: 1em;
        width: 110px;
        display: flex;
    }

a#menu {
    display: none;
}
    
    header a:hover {
        color: var(--main-light);
    }
    
    #about{
        display: block;
        margin-bottom: 9em;
    }
    #timeline{
        display: block;
        margin-bottom: 9em;
    }
    #prizes{
        display: block;
        margin-bottom: 9em;
    }
    #more{
        display: block;
        margin-bottom: 9em;
    }
  
    #hero img{
        width: 50%;
    }
    .big{
        top:0;
        padding-top: 6em;
        width: 130%;
    }
    .small{
        top: -11%;
        padding-top: 0em;
        width: 100%;
    }
    .smallu{
        top: -45%;
        padding-top: 0em;
        width: 80%;
    }
    #hero{
        position: relative;
        display: flex;
        z-index: 10;
        justify-content: center;
        transition: all 3s;
    }
    section{
        width: 70%;
        padding: 2.5em;
        border-radius: 1em;
        margin-bottom: 5em;
    }


section#last {margin-bottom: 10em;}
    
    
    .obot {
        top: 77%;
        left: 34.7%;
        scale: 2.2;
        opacity: .1;
    }
    
    .onorm{
        top: 13%;
        left: 82%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(20deg);
    }
    .oleft {
        top: 13%;
        left: -14%;
        transform: perspective(15cm) rotateY(-20deg);
    }
    
    .omid {
        top: 13%;
        left: 34.7%;
        scale: 1.2;
        transform-style: preserve-3d;
        transform: perspective(3cm) rotateY(0deg);
    }
    #owl{
        height: 80%;
    }
    
    button{
        width: 8vw;
        height: 3em;
        border-radius: 3em;
        font-size: 12pt;
    }

#shopcont button {
    width: 10vw;
}

}
@media only screen and ((max-width: 810px) and (min-width: 768px)) {
    span#sub {
        font-size: 15pt;
        line-height: 5pt;
    }
    
    span#emph {
        font-size: 18pt;
        font-family: monospace;
    }
    
    span#head {
        font-size: 25pt;
        font-weight: 900;
    }
    
    body{
        background-color: #000000;
        color: white;
        position: fixed;
        left: 0;
        top: 0;
        overflow-y:hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0;
        width: 100%;
        scroll-behavior: smooth;
    }

.sublimel {
    padding: 1em;
}

#arrowhost .arrow {
    width: 25px;
    height: 25px;
    border-right: solid var(--main);
    border-bottom: solid var(--main);
}

div#arrowhost {
    width: 55%;
    left: -1%;
}
    
    .emp {
        display: block;
        margin-bottom: 54em;
    }
    .scrol{
        transform: perspective(5cm) rotateX(0deg);
        opacity: 1;
        bottom: 20%;
    }
    .scrolu{
        transform: perspective(5cm) rotateX(-20deg);
        opacity: 0;
        bottom: 80%;
    }
    .scroln{
        bottom: 0;
        opacity: 0;
        transform: perspective(5cm) rotateX(20deg);
    }
    #heroover {
        position: absolute;
        width: 90%;
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;
        font-size: 20pt;
        line-height: 29pt;
        transform-style: preserve-3d;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
        background-color: var(--main-super-dark-b);
    }
    
    div .triggers {
        display: block;
        height: 1em;
        width: 3em;
    }
    
    div#crdhero {
        width: 50%;
        display: contents;
    }
    
    footer {
        width: 100%;
        background-color: var(--main-super-duper-dark);
        text-align: center;
        height: 15%;
        position: relative;
        bottom: 0;
    }
    
    footer p {
        margin-bottom: 0;
    }
    
    hr {margin-top: 1px;margin-bottom: 28px;border-style: dashed;border-color: var(--main);border-width: 1px;border-bottom: none;width: 80%;}
    
    ul {line-height: 22pt;width: fit-content;position: relative;}

    table {
        width: 100%;
        text-align: center;
    }
    
    table .imcrop{
        display: inline-block;
        vertical-align: middle;
        width: 10em;
        height: 10em;
        overflow: hidden;
        clip-path: circle(50%);
        object-fit: cover;
    }
    
    #pr1{
        width: 10em;
        scale: 1.5;
        padding-top: 18px;
    }
    #pr2{
        width: 10em;
        height: 10em;
        scale: 2;
        padding-top: 34px;
        padding-right: 9px;
    }
    #pr3{
        width: 10em;
        height: 10em;
        scale: 1.6;
        margin-top: -12px;
        padding-right: 9px;
    }
    
    header{
        position: relative;
        display: flex;
        top: 1em;
        left: 0;
        background-color: var(--main-dark-b);
        border-radius: 1em;
        border: solid var(--main-boders) .1px;
        width: 90%;
        height: 4rem;
        z-index: 100;
        align-items: center;
        flex-direction: row-reverse;
        -webkit-backdrop-filter: blur(17px);
        backdrop-filter: blur(17px);
    }
    
    #home {
        display: flex;
    }
    
    header a{
        padding-left: 1em;
        padding-right: 1em;
        height: 2em;
        width: 11vw;
        font-size: 9pt;
    }

a#menu {
    display: none;
}
    
    header a:hover {
        color: var(--main-light);
    }
    
    #about{
        display: block;
        margin-bottom: 9em;
    }
    #timeline{
        display: block;
        margin-bottom: 9em;
    }
    #prizes{
        display: block;
        margin-bottom: 9em;
    }
    #more{
        display: block;
        margin-bottom: 9em;
    }
    
    #content{
        position: absolute;
        overflow-y: scroll;
        left: 0;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }
    #hero img{
        width: 50%;
    }
    .big{
        top: 3em;
        padding-top: 9em;
        width: 150%;
    }
    .small{
        top: -4%;
        padding-top: 0em;
        width: 100%;
    }
    .smallu{
        top: -45%;
        padding-top: 0em;
        width: 80%;
    }
    #hero{
        position: relative;
        display: flex;
        z-index: 10;
        justify-content: center;
        transition: all 3s;
    }
    section{
        width: 77%;
        background-color: var(--main-super-dark-b);
        padding: 2.5em;
        border-radius: 1em;
        margin-bottom: 5em;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border: solid var(--main) 1px;
    }
    
    
    .obot {
        top: 77%;
        left: 34.7%;
        scale: 2.2;
        opacity: .1;
    }
    
    .onorm{
        top: 13%;
        left: 82%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(20deg);
    }
    .oleft {
        top: 13%;
        left: -14%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(-20deg);
    }
    
    .omid {
        top: 13%;
        left: 20%;
        scale: 1.2;
        transform-style: preserve-3d;
        transform: perspective(3cm) rotateY(0deg);
    }
    #owl{
        position: fixed;
        z-index: 0;
        height: 80%;
        opacity: .2;
        transition: all 3s;
    }
    
    button{
        background-color: var(--main-dark);
        border: none;
        width: 17vw;
        height: 3em;
        color: white;
        border-radius: 3em;
        font-size: 10pt;
        padding: 0;
        transition: all .5s;
    }

}
@media only screen and ((max-width: 768px) and (min-width: 460px)) {
    #menudrop{
        height: fit-content;
        width: 85%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        position: absolute;
        top: 5em;
        opacity: 0;
        padding-bottom: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        transform:translateY(-50em);
        z-index: 99;
        transition: all 2s;
        background-color: var(--main-dark-b);
    }
    span#sub {
        font-size: 15pt;
        line-height: 5pt;
    }
    
    span#emph {
        font-size: 18pt;
        font-family: monospace;
    }
    
    span#head {
        font-size: 25pt;
        font-weight: 900;
    }
    
    body{
        background-color: #000000;
        color: white;
        position: fixed;
        left: 0;
        top: 0;
        overflow-y:hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0;
        width: 100%;
        scroll-behavior: smooth;
    }

div#wincont {
    flex-direction: column;
}

.sublimel {
    padding: 1em;
}

.arrow {
    scale: 0.5;
    left: 0;
}

div#arrowhost {
    position: relative;
    top: 11vh;
    left: -9px;
    width: 36vw;
}

#menudrop a:hover {
    color: var(--main-light);
}

#menudrop a {
    width: 90%;
    height: fit-content;
    padding: 1em;
    padding-left: 3em;
    text-decoration: none;
    color: white;
}
    .emp {
        display: block;
        margin-bottom: 30em;
    }

.emp.emp1mob {
    margin-bottom: 57vh;
}
    .scrol{
        transform: perspective(5cm) rotateX(0deg);
        opacity: 1;
        bottom: 20%;
    }
    .scrolu{
        transform: perspective(5cm) rotateX(-20deg);
        opacity: 0;
        bottom: 80%;
    }
    .scroln{
        bottom: 0;
        opacity: 0;
        transform: perspective(5cm) rotateX(20deg);
    }
    #heroover {
        position: absolute;
        width: 90%;
        padding-top: 2em;
        padding-bottom: 2em;
        border-radius: 1em;
        border: none;
        z-index: 50;
        text-align: center;
        font-size: 20pt;
        line-height: 29pt;
        transition: all 3s;
        transform-style: preserve-3d;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
        background-color: var(--main-super-dark-b);
    }
    
    div .triggers {
        display: block;
        height: 1em;
        width: 3em;
    }
    
    div#crdhero {
        width: 50%;
        display: contents;
    }
    
    footer {
        width: 100%;
        background-color: var(--main-super-duper-dark);
        text-align: center;
        height: 15%;
        position: relative;
        bottom: 0;
    }
    
    footer p {
        margin-bottom: 0;
    }
    
    hr {margin-top: 1px;margin-bottom: 28px;border-style: dashed;border-color: var(--main);border-width: 1px;border-bottom: none;width: 80%;}
    
    ul {line-height: 22pt;}
    
    table {
        /* width: 60vw; */
        scale: .8;
        text-align: center;
    }

.alpa h3 {
    font-size: 10pt;
}

.alpa p {
    font-size: 9pt;
}

img#t11 {
    width: 41vw;
}
    
    table .imcrop{
        display: inline-block;
        vertical-align: middle;
        width: 10em;
        height: 10em;
        overflow: hidden;
        clip-path: circle(50%);
        object-fit: cover;
    }
    
    #pr1{
        width: 10em;
        scale: 1.5;
        padding-top: 18px;
    }
    #pr2{
        width: 10em;
        height: 10em;
        scale: 2;
        padding-top: 34px;
        padding-right: 9px;
    }
    #pr3{
        width: 10em;
        height: 10em;
        scale: 1.6;
        margin-top: -12px;
        padding-right: 9px;
    }
    
    header{
        position: relative;
        display: flex;
        top: 1em;
        left: 0;
        width: 90%;
        height: 4rem;
        z-index: 100;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    #home {
        display: flex;
        float: left;
        margin-left: 1em;
    }
    
    header a{
        padding-left: 1em;
        padding-right: 1em;
        height: 1em;
        width: 15vw;
        font-size: 9pt;
        display: none;
    }

a#menu {
    display: flex;
    font-size: 20pt;
    border: solid var(--main-boders) 1px;
    border-radius: .2em;
    background-color: var(--main-super-dark-b);
    width: 22pt;
    padding: 5px;
    height: 22pt;
    margin-right: 1em;
}
    
    header a:hover {
        color: var(--main-light);
    }
    
    #about{
        display: block;
        margin-bottom: 9em;
    }
    #timeline{
        display: block;
        margin-bottom: 9em;
    }
    #prizes{
        display: block;
        margin-bottom: 9em;
    }
    #more{
        display: block;
        margin-bottom: 9em;
    }
    
    #hero img{
        width: 50%;
    }
    .big{
        top: 3em;
        padding-top: 9em;
        width: 150%;
    }
    .small{
        top: 2%;
        padding-top: 0em;
        width: 139%;
    }
    .smallu{
        top: -45%;
        padding-top: 0em;
        width: 80%;
    }
    #hero{
        position: relative;
        display: flex;
        z-index: 10;
        justify-content: center;
        transition: all 3s;
    }
    section{
        width: 77%;
        background-color: var(--main-super-dark-b);
        padding: 2.5em;
        border-radius: 1em;
        margin-bottom: 5em;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border: solid var(--main) 1px;
    }
    
    
    .obot {
        top: 77%;
        left: 34.7%;
        scale: 2.2;
        opacity: .1;
    }
    
    .onorm{
        top: 13%;
        left: 82%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(20deg);
    }
    .oleft {
        top: 13%;
        left: -14%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(-20deg);
    }
    
    .omid {
        top: 8%;
        left: 12%;
        scale: 1.2;
        transform-style: preserve-3d;
        transform: perspective(3cm) rotateY(0deg);
    }
    #owl{
        position: fixed;
        z-index: 0;
        height: 80%;
        opacity: .2;
        transition: all 3s;
    }
    
    button{
        background-color: var(--main-dark);
        border: none;
        width: 17vw;
        height: 3em;
        color: white;
        border-radius: 3em;
        font-size: 9pt;
        padding: 0;
        transition: all .5s;
    }

}
@media only screen and (max-width: 460px) {
    .cnf{
        z-index: 60;
    }
    #menudrop{
        height: fit-content;
        width: 85%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        position: absolute;
        top: 5em;
        opacity: 0;
        padding-bottom: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        transform:translateY(-50em);
        z-index: 99;
        transition: all 2s;
        background-color: var(--main-dark-b);
    }
    span#sub {
        font-size: 10pt;
    }
    
    span#emph {
        font-size: 12pt;
    }
    
    span#head {
        font-size: 21pt;
        font-weight: 900;
    }
    
    body{
        background-color: #000000;
        color: white;
        position: fixed;
        left: 0;
        top: 0;
        overflow-y:hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0;
        width: 100%;
        scroll-behavior: smooth;
    }

#timecont p {
    text-align: center;
}

.winners {
    width: 100%;
}

div#wincont {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sublimel {
    padding: 1em;
}

div#arrowhost {
    display: none;
    rotate: 90deg;
    top: 77vh;
    width: 84vh;
    left: -1%;
}

div.scrlanim {
    top: 80%;
}

#przcont h4 {
    font-size: 10pt;
}

.alpa p {
    margin-top: .2em;
    margin-bottom: .3em;
}

.alpa code {
    text-align: left;
    font-size: 12pt;
    line-height: 17pt;
    text-anchor: start;
    display: inline-flex;
}

#shopcont p {
    text-align: center;
}

#menudrop a:hover {
    color: var(--main-light);
}

#menudrop a {
    width: 90%;
    height: fit-content;
    padding: 1em;
    padding-left: 3em;
    text-decoration: none;
    color: white;
}

    .emp {
        display: block;
        margin-bottom: 30vh;
    }

div.emp1mob {
    margin-bottom: 57vh;
}
    .scrol{
        transform: perspective(5cm) rotateX(0deg);
        opacity: 1;
        bottom: 13%;
    }
    .scrolu{
        transform: perspective(5cm) rotateX(-20deg);
        opacity: 0;
        bottom: 80%;
    }
    .scroln{
        bottom: 0;
        opacity: 0;
        transform: perspective(5cm) rotateX(20deg);
    }
    #heroover {
        width: 90%;
        padding-top: 2em;
        font-size: 14pt;
        line-height: 24pt;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
    }
    
    div .triggers {
        height: 1vh;
        width: 2vw;
    }

div#owlmid {
    height: 2vh;
}
    
    div#crdhero {
        width: 50%;
        display: contents;
    }
    
    footer {
        height: 11%;
    }
    
    footer p {
        font-size: 9pt;
        line-height: 13pt;
    }
    
    hr {margin-top: 1px;margin-bottom: 28px;border-style: dashed;border-color: var(--main);border-width: 1px;border-bottom: none;width: 80%;}
    
    ul {line-height: 22pt;width: 90%;}
    
    table {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 51em;
    }

.alpam1 p {
    margin: auto;
    font-size: 12pt;
}

#shopcont table {
    height: 17em;
}

#shopcont table:nth-last-child(1) {
    height: 0em;
    margin-bottom: 34em;
}

#shopcont table h2 {
    font-size: 13pt;
}

#shopcont img {
    width: 98vw;
    position: relative;
    left: -12px;
}

img#t11 {
    width: 54vw;
}

table#conttable {
    height: 72em;
    margin-bottom: 60em;
}

.alpa h3 {
    margin-top: .5em;
    margin-bottom: .5em;
}

table#tm {
    height: 19em;
}

table.tblprize {
    height: 2em;
}

table .alpa {
    padding-top: 11.9em;
    margin-bottom: 0;
}

tr {
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    left: 0%;
    height: fit-content;
    align-items: center;
}

tr.price1 {
    margin-top: 19em;
}

tr.price {
    margin-top: 56em;
    padding-left: 1em;
    padding-right: 1em;
    width: 91%;
}

tr.imgs {
    margin-top: 4em;
}

td {display: block;width: 100%;}

td.tmdis {
    padding-top: 12em;
}

td.tmdis:nth-child(1) {
    padding-top: 7em;
}

td.tmimg {padding-bottom: 12em;}

td.tmimg:hover {
    background-color: var(--main-super-duper-dark);
}

td.alpam1 {
    padding-top: 12em;
}
td.alpam1:nth-child(2) {
    padding-top: 16.4em;
}

td.alpamu1 {
    padding-bottom: 3.8em;
}

td.alpam {
    padding-bottom: 8.5em;
    padding-top: .8em;
}
    
    table .imcrop{
        display: inline-block;
        vertical-align: middle;
        width: 10em;
        height: 10em;
        overflow: hidden;
        clip-path: circle(50%);
        object-fit: cover;
    }
    
    #pr1{
        width: 10em;
        scale: 1.5;
        padding-top: 18px;
    }
    #pr2{
        width: 10em;
        height: 10em;
        scale: 2;
        padding-top: 34px;
        padding-right: 9px;
    }
    #pr3{
        width: 10em;
        height: 10em;
        scale: 1.6;
        margin-top: -12px;
        padding-right: 9px;
    }
    
    header{
        position: relative;
        display: flex;
        top: 1em;
        left: 0;
        background-color: var(--main-dark-b);
        border-radius: 1em;
        border: solid var(--main-boders) .1px;
        width: 90%;
        height: 4rem;
        z-index: 100;
        align-items: center;
        flex-direction: row-reverse;
        -webkit-backdrop-filter: blur(17px);
        backdrop-filter: blur(17px);
        justify-content: space-between;
    }
    
    #home {
        display: flex;
        float: left;
        margin-left: 3em;
    }
    
    header a{
        padding-left: 1em;
        padding-right: 1em;
        height: 1em;
        width: 15vw;
        font-size: 9pt;
        display: none;
    }

a#menu {
    display: flex;
    font-size: 20pt;
    border: solid var(--main-boders) 1px;
    border-radius: .2em;
    background-color: var(--main-super-dark-b);
    width: 22pt;
    padding: 5px;
    height: 22pt;
    margin-right: 1em;
}
    
    header a:hover {
        color: var(--main-light);
    }
    
    #about{
        display: block;
        margin-bottom: 9em;
    }
    #timeline{
        display: block;
        margin-bottom: 9em;
    }
    #prizes{
        display: block;
        margin-bottom: 9em;
    }
    #more{
        display: block;
        margin-bottom: 9em;
    }
    

    #hero img{
        width: 65%;
    }
    .big{
        top: 3em;
        padding-top: 9em;
        width: 150%;
    }
    .small{
        top: 0%;
        padding-top: 0em;
        width: 100%;
    }
    .smallu{
        top: -45%;
        padding-top: 0em;
        width: 80%;
    }

    section{
        width: 69%;
        padding: 2.5em;
        border-radius: 1em;
        margin-bottom: 5em;
    }

#countdown {
    font-size: 20pt;
}

section#last {
    height: 75em;
}

section#why {
    width: 90%;
}
    
    
    .obot {
        top: 77%;
        left: 34.7%;
        scale: 2.2;
        opacity: .1;
    }
    
    .onorm{
        top: 13%;
        left: 82%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(20deg);
    }
    .oleft {
        top: 13%;
        left: -14%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(-20deg);
    }
    
    .omid {
        top: 16%;
        left: 4%;
        scale: 1.2;
        transform-style: preserve-3d;
        transform: perspective(3cm) rotateY(0deg);
    }
    #owl{
        position: fixed;
        z-index: 0;
        height: 60%;
        opacity: .2;
        transition: all 3s;
    }
    
    button{
        width: 34vw;
        height: 3em;
        font-size: 10pt;
    }

}
@media only screen and (max-width: 340px) {
    #menudrop{
        height: fit-content;
        width: 85%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        position: absolute;
        top: 5em;
        opacity: 0;
        padding-bottom: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        transform:translateY(-50em);
        z-index: 99;
        transition: all 2s;
        background-color: var(--main-dark-b);
    }
    span#sub {
        font-size: 10pt;
    }
    
    span#emph {
        font-size: 11pt;
    }
    
    span#head {
        font-size: 19pt;
        font-weight: 900;
    }
    
    body{
        background-color: #000000;
        color: white;
        position: fixed;
        left: 0;
        top: 0;
        overflow-y:hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0;
        width: 100%;
        scroll-behavior: smooth;
    }

.winner {
    scale: 80%;
}

#shopcont table {
    height: 24vh;
}

tr.price {
    margin-top: 44em;
}

img#t11 {
    width: 78vw;
}

tr.price1 {
    margin-top: 20em;
}

#arrowhost .arrow {
    width: 20px;
    height: 20px;
}

div#arrowhost {
    width: 105vh;
    top: 103vh;
}

#menudrop a:hover {
    color: var(--main-light);
}

#menudrop a {
    width: 90%;
    height: fit-content;
    padding: 1em;
    padding-left: 3em;
    text-decoration: none;
    color: white;
}

    .emp {
        display: block;
        margin-bottom: 30em;
    }
    .scrol{
        transform: perspective(5cm) rotateX(0deg);
        opacity: 1;
        bottom: 20%;
    }
    .scrolu{
        transform: perspective(5cm) rotateX(-20deg);
        opacity: 0;
        bottom: 80%;
    }
    .scroln{
        bottom: 0;
        opacity: 0;
        transform: perspective(5cm) rotateX(20deg);
    }
    #heroover {
        width: 90%;
        padding-top: 2em;
        font-size: 12pt;
        line-height: 20pt;
    }
    
    div .triggers {
        height: 1em;
        width: 3em;
    }
    
    div#crdhero {
        width: 50%;
        display: contents;
    }
    
    footer {
        height: 29%;
    }
    
    footer p {
        font-size: 9pt;
        line-height: 13pt;
    }
    
    hr {margin-top: 1px;margin-bottom: 28px;border-style: dashed;border-color: var(--main);border-width: 1px;border-bottom: none;width: 80%;}
    
    ul {line-height: 22pt;}
    
    
    table .imcrop{
        display: inline-block;
        vertical-align: middle;
        width: 10em;
        height: 10em;
        overflow: hidden;
        clip-path: circle(50%);
        object-fit: cover;
    }
    
    #pr1{
        width: 10em;
        scale: 1.5;
        padding-top: 18px;
    }
    #pr2{
        width: 10em;
        height: 10em;
        scale: 2;
        padding-top: 34px;
        padding-right: 9px;
    }
    #pr3{
        width: 10em;
        height: 10em;
        scale: 1.6;
        margin-top: -12px;
        padding-right: 9px;
    }
    
    header{
        position: relative;
        display: flex;
        top: 1em;
        left: 0;
        background-color: var(--main-dark-b);
        border-radius: 1em;
        border: solid var(--main-boders) .1px;
        width: 90%;
        height: 4rem;
        z-index: 100;
        align-items: center;
        flex-direction: row-reverse;
        -webkit-backdrop-filter: blur(17px);
        backdrop-filter: blur(17px);
    }
    
    #home {
        display: flex;
        float: left;
        margin-right: 40%;
    }
    
    header a{
        padding-left: 1em;
        padding-right: 1em;
        height: 1em;
        width: 15vw;
        font-size: 9pt;
        display: none;
    }

a#menu {
    display: flex;
    font-size: 20pt;
    border: solid var(--main-boders) 1px;
    border-radius: .2em;
    background-color: var(--main-super-dark-b);
    width: 22pt;
    padding: 5px;
    height: 22pt;
    margin-right: 1em;
}
    
    header a:hover {
        color: var(--main-light);
    }
    
    #about{
        display: block;
        margin-bottom: 9em;
    }
    #timeline{
        display: block;
        margin-bottom: 9em;
    }
    #prizes{
        display: block;
        margin-bottom: 9em;
    }
    #more{
        display: block;
        margin-bottom: 9em;
    }
    
    #content{
        width: 100%;
    }
    #hero img{
        width: 65%;
    }
    .big{
        top: 25%;
        padding-top: 0;
        width: 150%;
    }
    .small{
        top: 0%;
        padding-top: 0em;
        width: 130%;
    }
    .smallu{
        top: -45%;
        padding-top: 0em;
        width: 80%;
    }



section#last {
    height: 78em;
}

section#why {
    width: 90%;
}
    
    
    .obot {
        top: 75%;
        left: 2.7%;
        scale: 1.2;
        opacity: .1;
    }
    
    .onorm{
        top: 13%;
        left: 82%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(20deg);
    }
    .oleft {
        top: 13%;
        left: -41%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(-20deg);
    }
    
    .omid {
        top: 8%;
        left: 4%;
        scale: 1.2;
        transform-style: preserve-3d;
        transform: perspective(3cm) rotateY(0deg);
    }
    #owl{
        position: fixed;
        z-index: 0;
        height: 60%;
        opacity: .2;
        transition: all 3s;
    }
    
    button{
        background-color: var(--main-dark);
        border: none;
        width: 34vw;
        height: 3em;
        color: white;
        border-radius: 3em;
        font-size: 10pt;
        padding: 0;
        transition: all .5s;
    }

#shopcont button {
    width: 50vw;
}

}
@media only screen and ((max-width: 1024px) and (min-width: 810px)) {
    span#sub {
        font-size: 15pt;
        line-height: 5pt;
    }
    
    span#emph {
        font-size: 18pt;
        font-family: monospace;
    }
    
    span#head {
        font-size: 25pt;
        font-weight: 900;
    }
    
    body{
        background-color: #000000;
        color: white;
        position: fixed;
        left: 0;
        top: 0;
        overflow-y:hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0;
        width: 100%;
        scroll-behavior: smooth;
    }

.sublimel {
    padding: 2em;
}

div#arrowhost {
    width: 55%;
}

#arrowhost .arrow {
    width: 25px;
    height: 25px;
}

div#menudrop {
    display: none;
}
    
    .emp {
        display: block;
        margin-bottom: 54em;
    }
    .scrol{
        transform: perspective(5cm) rotateX(0deg);
        opacity: 1;
        bottom: 20%;
    }
    .scrolu{
        transform: perspective(5cm) rotateX(-20deg);
        opacity: 0;
        bottom: 80%;
    }
    .scroln{
        bottom: 0;
        opacity: 0;
        transform: perspective(5cm) rotateX(20deg);
    }
    #heroover {
        width: 65%;
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: 20pt;
        line-height: 29pt;
    }
    
    div .triggers {
        display: block;
        height: 1em;
        width: 3em;
    }
    
    div#crdhero {
        width: 50%;
        display: contents;
    }
    
    footer {
        width: 100%;
        background-color: var(--main-super-duper-dark);
        text-align: center;
        height: 15%;
        position: relative;
        bottom: 0;
    }
    
    footer p {
        margin-bottom: 0;
    }
    
    hr {margin-top: 1px;margin-bottom: 28px;border-style: dashed;border-color: var(--main);border-width: 1px;border-bottom: none;width: 80%;}
    
    ul {line-height: 22pt;}
    
    table {
        width: 100%;
        text-align: center;
    }
    
    table .imcrop{
        display: inline-block;
        vertical-align: middle;
        width: 10em;
        height: 10em;
        overflow: hidden;
        clip-path: circle(50%);
        object-fit: cover;
    }
    
    #pr1{
        width: 10em;
        scale: 1.5;
        padding-top: 18px;
    }
    #pr2{
        width: 10em;
        height: 10em;
        scale: 2;
        padding-top: 34px;
        padding-right: 9px;
    }
    #pr3{
        width: 10em;
        height: 10em;
        scale: 1.6;
        margin-top: -12px;
        padding-right: 9px;
    }
    
    header{
        top: 1em;
        width: 80%;
        height: 5rem;
    }
    
    #home {
        display: inherit;
        position: inherit;
    }
    
    header a{
        padding-left: 1em;
        padding-right: 1em;
        height: 1em;
        width: 12vw;
        display: flex;
        font-size: 9pt;
    }

a#menu {
    display: none;
}
    
    header a:hover {
        color: var(--main-light);
    }
    
    #about{
        display: block;
        margin-bottom: 9em;
    }
    #timeline{
        display: block;
        margin-bottom: 9em;
    }
    #prizes{
        display: block;
        margin-bottom: 9em;
    }
    #more{
        display: block;
        margin-bottom: 9em;
    }
    
    #content{
        position: absolute;
        overflow-y: scroll;
        left: 0;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }
    #hero img{
        width: 50%;
    }
    .big{
        top:0;
        padding-top: 6em;
        width: 130%;
    }
    .small{
        top: 0%;
        padding-top: 0em;
        width: 100%;
    }
    .smallu{
        top: -45%;
        padding-top: 0em;
        width: 80%;
    }
  
    section{
        width: 70%;
        background-color: var(--main-super-dark-b);
        padding: 2.5em;
        border-radius: 1em;
        margin-bottom: 5em;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border: solid var(--main) 1px;
    }

section#why {
    width: 90%;
}
    
    
    .obot {
        top: 77%;
        left: 34.7%;
        scale: 2.2;
        opacity: .1;
    }
    
    .onorm{
        top: 13%;
        left: 82%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(20deg);
    }
    .oleft {
        top: 13%;
        left: -14%;
        transform-style: preserve-3d;
        transform: perspective(15cm) rotateY(-20deg);
    }
    
    .omid {
        top: 12%;
        left: 11.7%;
        scale: 1.2;
        transform: perspective(3cm) rotateY(0deg);
    }
    #owl{
        height: 75%;
    }
    
    button{
        width: 15vw;
        height: 3em;
        font-size: 10pt;
    }

#shopcont button {
    width: 15vw;
}

}
@media only screen and ((max-width: 1197px) and (min-width: 1024px)) {
    header a{
        font-size: 11pt;
        width: 11vw;
        padding-right: .5em;
        padding-left: .5em;
    }

#home {
    position: inherit;
    display: inherit;
}
.winner{
    scale: 75%;
    width: 300px;
    height: 182px;
    }
    
    .winners{
        width: 33%;
    }
}
@media only screen and (max-width: 1024px)  {
    div#wincont {
        flex-direction: column;
    }
    .winner {
        width: 345px; 
         height: 210px; }
}
@media only screen and (min-width:460px){  
    .cnf{
        z-index: 11;
    }
}
#loaderimg{
    scale: .25;
    z-index: 1;
    position: absolute;
}

#arrowhost{
    position: relative;
    top: 12%;
    width: 59%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow{
    position: relative;
    left: -14px;
    width: 50px;
    height: 50px;
    border-right: solid var(--main) 5px;
    border-bottom: solid var(--main) 5px;
    transform: rotateZ(-45deg);
}
#f_logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.alpa p {
    margin-top: .2em;
    margin-bottom: .3em;
}

.alpa code {
    text-align: left;
    font-size: 12pt;
    line-height: 17pt;
    text-anchor: start;
    display: inline-flex;
}

#shopcont p {
    text-align: center;
}
.btns{
    position: relative;
    width: 100%;
    z-index: 32;
    display: flex;
    justify-content: center;
}
span#sub {
    line-height: 5pt;
}

span#emph {
    font-family: monospace;
    line-height: 44pt;
}

body{
    background-color: #000000;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y:hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h3#loadertxt {
    z-index: 10;
}

div#preloader {
    z-index: 999999;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition: all 2s;
}

.cn4 {
    width: 23px;
    height: 23px;
    background-color: var(--main-dark);
}

.cn3 {
    width: 21px;
    height: 9px;
    background-color: var(--main-light);
}

.cn2 {
    width: 7px;
    height: 23px;
    background-color: var(--main);
}

.cn1 {
    width: 10px;
    height: 20px;
    background-color: var(--main-light);
}

.cnf {
    position: relative;
    float: left;
    top: -23px;
}

div#confetti {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    display: flex;
    justify-content: space-evenly;
}

.winners h2 {
    text-align: center;
    text-box-trim: trim-both;
}

.winners h3 {
    margin-top: 0;
}

.winner {
    /* width: 345px; */
    /* height: 210px; */
    background-color: azure;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid 3px var(--main-light);
}

div#w3 {
    background-image: url(../images/personal/teams/3.jpg);
}

div#w1 {
    background-image: url(../images/personal/teams/1.jpg);
}

div#w2 {
    background-image: url(../images/personal/teams/2.jpg);
}

.winners img {
    width: 100%;
}

.winners {
    /* width: 33%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wincont {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#last p {text-align: center;}

img#t11 {clip-path: inset(37% 14% 31% 13%);/* width: 26vw; */}

a#time_countdown_602137 {
    cursor: context-menu;
}

.scrlanim {
    top: 45em;
    display: block;
    z-index: 60;
}

.leftal {
    width: 100%;
}

.leftal p {
    font-size: 15pt;
    font-weight: 700;
}
h1{
    text-align: left;
}
.emp {
    display: block;
    /* border: solid red 3px; */
}
.scrol{
    opacity: 1;
}
.scrolu{
    transform: perspective(5cm) rotateX(-20deg);
    opacity: 0;
    bottom: 80%;
}
.scroln{
    bottom: 25%;
    opacity: 0;
}
#heroover {
    position: fixed;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 1em;
    border: none;
    z-index: 15;
    text-align: center;
    transition: all 1s;
    transform-style: preserve-3d;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: var(--main-super-dark-b);
    transform: perspective(12cm) rotateX(45deg);
    display: none;
}

div .triggers {
    display: block;
}

div#crdhero {
    width: 50%;
    display: contents;
}

footer {
    width: 100%;
    background-color: var(--main-super-duper-d-dark);
    text-align: center;
    position: relative;
    bottom: 58px;
    padding-left: 1em;
    padding-right: 1em;
}

footer a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

footer h4 {
    margin-bottom: .5em;
}

footer img {
    padding-left: 1em;
    padding-right: 1em;
}

footer p {
    margin-bottom: 0;
}

hr {margin-top: 1px;margin-bottom: 28px;border-style: dashed;border-color: var(--main);border-width: 1px;border-bottom: none;width: 80%;}

ul {line-height: 22pt;}

table {
    width: 100%;
    text-align: center;
}

tr.imgs {
    background-image: radial-gradient( var(--main-super-dark) 5%, transparent 57%);
}

.alpa img {
    width: 2em;
    transition: all .2s;
}

.alpa img:hover {
    scale: 1.1;
}

.alpam1 p {margin: 0;font-size: 17pt;}

h3 a {
    text-decoration: none;
    color: inherit;
}

h3 a:hover {
    text-decoration: underline;
}

.tmimg img {
    transition: all 1s;
    border-radius: 10px;
}

#tming img {
    transition: all 2s;
}

.tmimg img:hover {box-shadow: 0 0 20px 0px var(--main);}

p.price {
    font-size: 15pt;
    padding-top: 0;
}


table .imcrop{
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    height: 10em;
    overflow: hidden;
    clip-path: circle(50%);
    object-fit: cover;
}

#pr1{
    width: 10em;
    scale: 1.5;
    padding-top: 18px;
}
#pr2{
    width: auto;
    height: 11em;
    scale: 2;
    padding-top: 34px;
    padding-right: 9px;
}
#pr3{
    width: auto;
    height: 17.5em;
    scale: 1.6;
    margin-top: 31px;
    padding-right: 196px;
}

header{
    position: relative;
    display: flex;
    left: 0;
    background-color: var(--main-dark-b);
    border-radius: 1em;
    border: solid var(--main-boders) .1px;
    z-index: 100;
    align-items: center;
    flex-direction: row-reverse;
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
}

#home {
    transition: opacity 1s;
}
#hmimg1{
    opacity: 1;
    transition: all 1s;
}
#hmimg2{
    opacity: 0;
    transition: all 1s;
}
header a{
    text-decoration: none;
    list-style: none;
    color: white;
    float: right;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    text-align: center;
}

header a:hover {
    color: var(--main-light);
}

#about{
    display: block;
    margin-bottom: 9em;
}
#timeline{
    display: block;
    margin-bottom: 9em;
}
#prizes{
    display: block;
    margin-bottom: 9em;
}
#shop{
    display: block;
    margin-bottom: 9em;
}

#more{
    display: block;
    margin-bottom: 9em;
}

#content{
    position: absolute;
    overflow-y: scroll;
    -webkit-overflow-x: hidden;
    overflow-x: clip;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 108%;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}

.smallu{
    top: -45%;
    padding-top: 0em;
    width: 80%;
}
#hero{
    position: relative;
    display: flex;
    z-index: 10;
    justify-content: center;
    transition: all 3s;
}
section{
    background-color: var(--main-super-dark-b);
    padding: 2.5em;
    border-radius: 1em;
    margin-bottom: 5em;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: solid var(--main) 1px;
    transform: translateX(-200px);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 2s;
}

iframe {
    font-size: 20pt;
    filter: opacity(.2);
}

iframe a {
    pointer-events: none;
    cursor: context-menu;
}

section#why {
    opacity: 1;
    margin-bottom: 0;
}


.obot {
    opacity: .1;
}

.onorm{
    transform-style: preserve-3d;
}
.oleft {
    transform-style: preserve-3d;
}

.omid {
    scale: 1.2;
    transform-style: preserve-3d;
    transform: perspective(3cm) rotateY(0deg);
}
#owl{
    position: fixed;
    z-index: 0;
    opacity: .4;
    transition: all 3s;
}

button{
    border: none;
    color: white;
    background-color: var(--main-dark);
    border-radius: 3em;
    font-weight: bold;
    padding: 0;
    transition: all .5s;
    position: relative;
    z-index: 15;
    cursor: pointer;
    margin-left: .3vw;
    margin-right: .3vw;
}

#shopcont button {
    margin-bottom: 1vh;
    /* width: 10vw; */
}
.sublimel{
    border: solid var(--main-boders) 2px;
    border-radius: 2vh;
    position: relative;
    width: 82%;
    margin-bottom: 1vh;
}
button:focus {
    border: solid var(--main) 1px;
}
button:active {
    border: solid var(--main-light) 1px;
}
button:hover{
    background-color: var(--main-super-dark);
}